<html>
    <head>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>RX 정보보안실 - 비밀번호 모의 해킹</title>
        <!-- <link rel="shortcut icon" href="/images/rxai.ico"> -->

        <meta name="google-site-verification" content="9HZUfrA6LZTi_u1Ts0DPygs6qff33vlgdahKmbkWcGo" />
        <meta name="msvalidate.01" content="17B2ADF8AFA521A1598D63FAA307CEC5" />
        <meta name="naver-site-verification" content="230fa150f8632bd8cce236ffacfd785fdd2c100b" />
        <meta name="yandex-verification" content="2526dbf1e92c9504" />


        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">



        <meta http-equiv='content-language' content='ko'>
        <meta id="rxmetaTitle" name="title" content="아레스 사이버 정보 수사청">
        <meta id="rxmetaAuthor" name="author" content="RxDrive">
        <meta id="rxmetaKeywords" name="keywords" content="아레스 사이버 정보 수사청, 내란, 간첩, 반국가, 선관위, 해킹, 모의 해킹, 비밀번호, 탐색">
        <meta id="rxmetaSubject" name="subject" content="아레스 사이버 정보 수사청">
        <meta id="rxmetaDescription" name="Description" content="아레스 사이버 정보 수사청, 내란, 간첩, 반국가, 선관위, 해킹, 모의 해킹, 비밀번호, 탐색">
        <meta id="rxmetaSocial" name="classification" content="해킹">


        <meta id="meta_name" name="msapplication-starturl" content="https://korea-freedom-war.nab.kr/" />
        <link id="meta_image_src" rel="image_src" href="/images/freemdom.webp" />
        <meta id="meta_twitter_card" name="twitter:card" content="아레스 사이버 정보 수사청, 내란, 간첩, 반국가, 선관위, 해킹, 모의 해킹, 비밀번호, 탐색" />
        <meta id="meta_twitter_url" name="twitter:url" content="https://korea-freedom-war.nab.kr/" />
        <meta id="meta_twitter_title" name="twitter:title" content="아레스 사이버 정보 수사청" />
        <meta id="meta_twitter_description" name="twitter:description" content="아레스 사이버 정보 수사청, 내란, 간첩, 반국가, 선관위, 해킹, 모의 해킹, 비밀번호, 탐색" />
        <meta id="meta_twitter_image" name="twitter:image" content="/images/freemdom.webp" />
        <meta id="meta_og_title"  property="og:title" content="아레스 사이버 정보 수사청" />
        <meta id="meta_og_type"  property="og:type" content="website" />
        <meta id="meta_og_image" property="og:image" content="/images/freemdom.webp" />
        <meta id="meta_og_site_name" property="og:site_name" content="아레스 사이버 정보 수사청" />
        <meta id="meta_og_url" property="og:url" content="https://korea-freedom-war.nab.kr/" />
        <meta id="meta_og_description" property="og:description" content="아레스 사이버 정보 수사청, 내란, 간첩, 반국가, 선관위, 해킹, 모의 해킹, 비밀번호, 탐색" />
        <meta id="meta_nate_title"  name="nate:title" content="아레스 사이버 정보 수사청" />
        <meta id="meta_nate_description"  name="nate:description" content="아레스 사이버 정보 수사청, 내란, 간첩, 반국가, 선관위, 해킹, 모의 해킹, 비밀번호, 탐색" />
        <meta id="meta_nate_site_name"  name="nate:site_name" content="아레스 사이버 정보 수사청" />
        <meta id="meta_nate_url" name="nate:url" content="https://korea-freedom-war.nab.kr/" />
        <meta id="meta_nate_image" name="nate:image" content="/images/freemdom.webp" />
        <meta id="cma_meta_twitter_image" name="twitter:image" content="https://korea-freedom-war.nab.kr/" />





        <link href="/css/base.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">


        <script>

            window.onload = function(){

            }

        </script>

    </head>
    <body>


        <div class="wrapper">
            <img class="logo" src="/images/freemdom.webp" />

            <h1 class="h1">아레스 사이버 정보 수사청</h1>
            <div class="msg">
                <p><span>내란</span> : 현 정권에 '반'하는 세력이 일으키는 것을 뜻합니다.</p>
                <p><span>간첩</span> : 현 정권에 '반'하는 세력을 뜻합니다.</p>
                <div class="msg-1">
                    <p>
                        <a href="https://blog.naver.com/ze355/223711530639"> 국민 주권이란, 권영세 의원의 사과의 의미는- </a>
                    </p>
                    <p>권영세 의원의 사과는 탄핵 반대는 사람들에 대한 사과였습니다.</p>
                </div>
            </div>

            <div class="msg" style="padding-top: 50px;">
                <p><span>고도의 전략적 통치행위</span> : 국민들은 윤석열 대통령을 지지하고 있습니다.</p>
                <div class="msg-1">
계엄령으로 인해 '죽은 사람이 단 한 명도 없다'는 사실은 변하지 않습니다. 총칼을 들고 온 군인들인데도 사망자가 0이라는 뜻은 계엄령은 '명백히 고도의 전략적 통치 행위'라고 밖에 설명할 수 없습니다.

'내란'이라는 단어는 현 정권에 반하는 세력이 일으키는 것을 '내란'이라고 합니다. 현 정권은 윤석열 대통령의 정권이며 따라서 '내란죄'는 '민주당'이 저지르고 있는 것 또한 '명백'합니다.

해당 사건은 자유 민주주의 체제 '수호'에 그 목적이 있으며, 이는 '국가 차원의 문제'로 인식되어 사법시스템보다 상위에 놓여 있는 문제입니다. 따라서 사법권을 통해 '대통령을 수사'한다는 것부터 이미 '반국가 세력'이라는 뜻이 되며 내란에 동조한 간첩임을 '자인'하는 것 또한 명백합니다.

선관위는 보안의 취약점과 선거 의혹에 관해 반성과 수정을 먼저 하기 전에 '의혹'이라는 말 조차 꺼내지 못하도록 '법률'을 개정하려 하고 있습니다. 이는 명백히 국민의 기본권과 자율권을 침해하는 행위로 헌법 기관의 자질을 충분히 상실하였다고 판단됩니다.

대한민국은 '자유 민주주의 체제'라는 사실을 부정하는 반국가 간첩 세력들이 '국민의 행세'를 하는 것을 가만히 두고 봤다면 이는 이 나라의 대통령이었다고 말할 수 없었을 겁니다.
                </div>
                
                <p><span>일화</span> : 국민들은 윤석열 대통령을 지지하고 있습니다.</p>
                
                <div class="msg-1">
얼마 전에 일에서 윤석열 대통령을 욕하기에 내가 개화시켜줬음.

내가 이렇게 물었지.

"그럼 아저씨는 계엄령을 왜 일으켰다고 생각하시는 거에요?"

"미친 놈이니까 그렇지!"

"아니요. 제 생각은 다릅니다. 대통령은 현재 이 나라의 상태를 '정확하게' 보고 있는 거에요. 그래서 계엄령을 전략적으로 사용할 수밖에 없었던 거죠.

지금 이 나라에 간첩들이 얼마나 많은데요?"

그 아저씨가 그러더라고?

"카더라. 뭐뭐 카더라가 많더라. 그럼 뭐 하나라도 대봐. 그런 카더라... "

"추미애"

" ...... "

"추미애. 법무부장관. 전 법무부장관이었죠. 이 사람은 '대표적인' 사회주의 공상주의 사상을 가지고 있는 사람이에요.

사회주의 공산주의에서는 개인의 '소유권'을 인정하려고 들지 않죠.

아저씨가 열심히 노력해서 '돈'을 벌었어요. 근데 그 돈은 아저씨가 마음대로 쓸 수 있는 '돈'이 아니에요. "

"그럼 안 되지... "

" 아저씨 돈이 아니라, 왜냐하면 국가 소유의 돈이거든요?

그러니까 그 돈을 마음대로 쓰면 안 되고 국가에서 지정해준 '범위' 내에서만 그 돈을 써야만 하는 거에요.

이게 바로 사회주의, 공산주의의 '대표적인 것'중 하나죠. "

" ... .... "

여기서 입을 다물더라고? 역시 돈이지. 사회주의 공산주의 치명적인 부분 중 하나는 돈을 마음대로 쓸 수 없다는 거야. 내가 노력한 걸 왜 국가에서 소유하려고 하는 거야. 미친 새키들인 거 같다니까?

내가 다시 말했지.

"반면에, 우리가 이렇게 대통령을 욕할 수 있는 건 이 나라가 '자유민주주의 체제'이기 때문이에요. "

"그렇지. "

"이 '자유민주주의체제'를 지켜주고 있는 사람이 바로 대통령인 거라구요."

내가 다시 말했지.

"국민의 힘은 예전부터 돈이 많은 정당이 아니었어요. 이 나라의 '진짜 국민들'이 '진짜 돈'이라는 것을 벌면,

그 돈을 가져다주면서,

이걸로 좀 더 이 나라를 좋게 만들어주세요...

하면서 유지가 되어오던 정당이 바로 국민의 힘인 거구요. "

다시 말했지.

"민주당은,

세금으로 국민들 돈이나 뜯어가면서,

지들 배떼기나 쳐 불리는 정당인 거구요."

이걸 팩트라고 하는 거지.

아저씨가 아무 말 못하더라?

이렇게 또 한 명을 개화시켰다.
                </div>
            </div>
        </div>

        <img class="security" src="/images/rxSecurity.webp"
            onclick="window.location.href='https://security.nab.kr/'"
        />

    </body>
</html>