html {
    background-color: #3c0c23;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
}
.logo {
    position: fixed;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: -1;
}
.h1 {
    color : white;
    text-align: center;
}
.msg {
    color : white;
    text-align: justify;
}

.msg span {
    color : white;
    font-weight: 900;
}
.msg p {
    color : white;
    text-align: justify;
}


.msg-1 {
    background: rgba(0, 0, 0, 0.5);
    padding : 20px;
    margin-top: 50px;
    color : white;

    border-radius: 10px;
    text-align: justify;
    white-space: break-spaces;
}
.msg-1 p {
    line-height: 52px;
}

.security {
    position: fixed;
    top : 50px;
    left : 50px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.sovereignty {
    position: fixed;
    top : 250px;
    left : 50px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.sovereignty-wrapper {
    position: fixed;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}

.sovereignty-wrapper * {
    color : white;
    padding : 10px 30px;
}
.sovereignty-wrapper > div {
    display: inline-block;
    width: 100%;
    height: calc(100% - 143px);
    overflow: auto;
}
.sovereignty-wrapper > div > div {
    background: rgba(0, 0, 0, 0.5);
    margin : 50px 0;
    border : 1px solid white;
}
.sovereignty-wrapper > div > div > p {
    font-size: 33px;
    border : 1px solid white;
}

.freedom {
    position: fixed;
    bottom: 10px;
    right : 10px;
    width: 100%;
    text-align: center;
}
.freedom img {
    width: 100px;
}
.freedom span {
    display: inline-block;
    width: 100%;
    font-size: 22px;
    color : white;
}
.trust {
    position: fixed;
    top : 450px;
    left : 50px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}


.president-msg {
    position: fixed;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.president-msg > h3 {
    color : white;
}
.president-msg > div {
    position: relative;
    height: 100%;
}
.president-msg > div img {
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    height : 100%;
}

.campaign {
    position: fixed;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding : 10px;
}
.campaign * {
    color : white;
}

@media (max-width: 576px) {

    .wrapper {
        padding : 20px;
    }
    .h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .msg span {
        font-size: 22px;
    }
    .msg p {
        font-size: 18px;
    }

    .msg-1 p {
        font-size: 15px;
    }

    .security {
        top : initial;
        left : initial;
        right: 20px;
        bottom: 20px;
        width: 70px;
    }
    .sovereignty {
        top : initial;
        left : initial;
        right: 20px;
        bottom: 100px;
        width: 70px;
    }

    .sovereignty-wrapper > h1 {
        font-size: 45px;
    }
    .sovereignty-wrapper > div {
        height: calc(100% - 86px);
    }


    .sovereignty-wrapper * {
        padding: 10px 10px;
    }
    .sovereignty-wrapper p {
        font-size: 18px;
    }
    .sovereignty-wrapper > div > div > p {
        font-size: 22px;
    }

    .trust {
        top : initial;
        left : initial;
        right: 20px;
        bottom: 220px;
        width: 70px;
    }
    .president-msg > h3 {
        font-size: 22px;
    }
    .president-msg > div img {
        width: 100%;
        height: initial;
    }

}